<div>
    <ul *ngFor="let task of taskArray1" [ngClass]="task.completed ? 'border-l-4':''"
        class="mt-4 border-green-500 bg-gray-100 flex rounded-lg">
        <div class="flex-wrap p-3 w-full">
            <p class="font-semibold text-lg">{{task.todo}}</p>
            <p>{{task.date}}</p>
        </div>
        <button *ngIf="task.completed" class="mr-1" (click)="toggleCompletion({id: task.id, todo:task.todo, completed: task.completed})">
            <img src="../../../assets/complete.png" class="w-6 h-6">
        </button>
        <button *ngIf="!task.completed" class="mr-1" (click)="toggleCompletion({id: task.id, todo:task.todo, completed: task.completed})">
            <img src="../../../assets/unfinished.png" class="w-6 h-6">
        </button>
        <button class="mr-1" (click)="edit(task)">
            <img src="../../../assets/edit.png" class="w-6 h-6">
        </button>
        <button class="mr-2" (click)="delete(task.id)">
            <img src="../../../assets/delete.png" class="w-5 h-5">
        </button>
    </ul>
</div>